<div class="cardd"> 
    <div class="row row-cols-2 row-cols-md-4 g-4 margincard alinea">
      <div class="col" *ngFor="let pelicula of peliculas">
        <div class="card">
          <img [src]="pelicula.imageUrl" class="card-img-top imgcrad" alt="{{pelicula.title}}">
          <div class="card-body">
            <h5 class="card-title">{{pelicula.title}}</h5>
          </div>
          <div class="card-footer">
            <button class="btn" type="submit">Comprar</button>
          </div>
        </div>
      </div>
      </div>
    </div>

    
