<div class="cardd"> 
    <div class="row row-cols-2 row-cols-md-4 g-4 margincard alinea">

      <div class="col">
        <div class="card h-100">
          <img src="gta5.jpg" class="card-img-top imgcrad" alt="...">
          <div class="card-body">
            <h5 class="card-title">silent</h5>
          </div>
          <div class="card-footer"> <button class="btn btncol text" type="submit"  >  <a href="https://store.rockstargames.com/es/game/buy-gta-v">OBTENER</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/kimetsu.jpg" class="card-img-top imgcrad" alt="...">
          <div class="card-body">
            <h5 class="card-title">memoi</h5>
          </div>
          <div class="card-footer">
            <button class="btn btncol text" type="submit"  >
              <a target="_blank" href="https://www.minecraft.net/es-es/store/minecraft-java-bedrock-edition-pc">OBTENER</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="71k0BMp4U1L._AC_UF894,1000_QL80_.jpg" class="card-img-top imgcrad" alt="...">
          <div class="card-body">
            <h5 class="card-title">titulopeli</h5>
          </div>
          <div class="card-footer">
            <button class="btn btncol text" type="submit"><a href="https://terraria.org/">OBTENER</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="dark.jpg" class="card-img-top imgcrad" alt="...">
          <div class="card-body">
            <h5 class="card-title">DAR</h5>
          </div>
          <div class="card-footer">
            <button class="btn btncol text" type="submit"><a href="https://www.eneba.com/latam/steam-dark-souls-3-steam-key-global">OBTENER</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="blackpos.jpg" class="card-img-top imgcrad" alt="...">
          <div class="card-body">
            <h5 class="card-title">BL</h5>
          </div>
          <div class="card-footer">
            <button class="btn btncol text" type="submit">OBTENER</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="1301279.jpg" class="card-img-top imgcrad" alt="...">
          <div class="card-body">
            <h5 class="card-title">MARIO</h5>
          </div>
          <div class="card-footer">
            <button class="btn btncol text" type="submit">OBTENER</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="holk.jpg" class="card-img-top imgcrad" alt="...">
          <div class="card-body">
            <h5 class="card-title">HOL</h5>
          </div>
          <div class="card-footer">
            <button class="btn btncol text" type="submit">OBTENER</button>      
          </div>
        </div>
      </div>

      <div class="col">
          <div class="card h-100">
            <img src="halo infinite.jpg" class="card-img-top imgcrad" alt="...">
            <div class="card-body">
              <h5 class="card-title">HAL</h5>
            </div>
            <div class="card-footer">
              <button class="btn btncol text" type="submit">OBTENER</button>      
            </div>
          </div>
        </div>
      </div>
    </div>

    
